body {
    background-color: rgb(77, 158, 134);
}

h1 {
    font-size: 60px;
}
.profile {
    max-height: 200px;
    margin: 20px;
    border-radius: 12px;
}

li {
    list-style: none;
    display: inline;
    
}


li a:link {
    color: rgb(25, 23, 179);
}

li a:visited {
    color: rgb(25, 23, 179);
}

li a:hover {
    color: rgb(25, 23, 179);
    text-decoration: none  
}

li a:active {
    color: rgb(25, 23, 179);
}



.work-img {
    max-width: 350px;
    border: 1px, solid, black;
}

p {
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif ;
}
a:link {
    color: rgb(25, 23, 179);
}

a:visited {
    color: rgb(25, 23, 179);
}

a:hover {
    color: rgb(25, 23, 179);
    text-decoration: none  
}

a:active {
    color: rgb(25, 23, 179);
}

header {
    background-color: rgb(110, 176, 235);
}

footer {
    background-color: rgb(110, 176, 235);
}



